<a href="https://colab.research.google.com/github/marihatabassum/DS_ML_Course/blob/main/Assignment2_CleaningData_GroupC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

In [ ]:
#Group information!
from pandas import DataFrame
group_C_info_df=DataFrame({ "Name": ["Hasan", "Saiful", "Ibrahim", "Mohidul", "Rashedul", "Mariha", "Helal", "Nasrin", "Afruza", "Tania"], 
                         "Email": ["hm.ges.ru@gmail.com", "saiful65ctg@gmail.com", "masud54973@gmail.com", "mohidulalam17@gmail.com", "rashedul.imsf@gmail.com", "marihatabassum1995@gmail.com", "ahmmed425.buet@gmail.com", "nasrinatanya@gmail.com", "afruza.sultana.ju@gmail.com", "taniaislam603@gmail.com"], 
                         "Subject": ["Environmental Sciences", "Oceanography", "Oceanography", "Oceanography", "Marine science", "Oceanography", "Water Resource Development", "Mathematics", "Statistics",  "Statistics"], 
                         "Gender": ["M", "M", "M", "M", "M", "F", "M", "F", "F", "F"]})

In [ ]:
group_info_df

       Name                         Email                     Subject Gender
0     Hasan           hm.ges.ru@gmail.com      Environmental Sciences      M
1    Saiful         saiful65ctg@gmail.com                Oceanography      M
2   Ibrahim          masud54973@gmail.com                Oceanography      M
3   Mohidul       mohidulalam17@gmail.com                Oceanography      M
4  Rashedul       rashedul.imsf@gmail.com              Marine science      M
5    Mariha  marihatabassum1995@gmail.com                Oceanography      F
6     Helal      ahmmed425.buet@gmail.com  Water Resource Development      M
7    Nasrin        nasrinatanya@gmail.com                 Mathematics      F
8    Afruza   afruza.sultana.ju@gmail.com                  Statistics      F
9     Tania       taniaislam603@gmail.com                  Statistics      F

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
survey_df=pd.read_csv("/content/drive/MyDrive/DS_ML_GroupC/Survey-Cleaning.csv")
survey_df

    Gender  Age        Area InternetCost FamilyIncome      Device
0     Male   24       Rural          500        40000      Laptop
1   Female   20       Urban         1000        50000  Smartphone
2     Male   21  Semi-urban         1000        22000  Smartphone
3   Female   20       Urban          500        20000      Laptop
4   Female   21       Urban          500        50000  Smartphone
5   Female   19          56         1500        50000  Smartphone
6   Female   22       Urban          500        50000  Smartphone
7   Female   22       Urban          500        50000  Smartphone
8   Female   20       Rural          500          NaN  Smartphone
9     Male   25       Rural          600        20000  Smartphone
10  Female   22       Rural         1200        50000  Smartphone
11  Female   20       Urban         1200        90000      Laptop
12  Female   21       Urban          500        30000      Laptop
13    Male   22       Urban         1300        90000      Laptop
14    Male   22  Semi-urban          500        50000  Smartphone
15    Male   20       Urban          NaN        50000  Smartphone
16  Female   21       Rural          500        30000  Smartphone
17  Female   22       Urban          500        30000     Desktop
18  Female   22       Urban          500        xfhdf  Smartphone
19  Female   22       Urban          700      1000000  Smartphone
20    Male   20  Semi-urban         1200        30000         NaN
21  Female   22       Rural          600        60000  Smartphone
22  Female   21       Rural          500        50000  Smartphone
23  Female   22       Urban          500        25000  Smartphone
24  Female   21       Urban            0        40000      Laptop
25  Female   22       Rural          500        28000  Smartphone
26  Female   21       Urban         1200        60000  Smartphone
27  Female   20       Urban          800        50000  Smartphone
28  Female   20       Rural          800          NaN  Smartphone
29  Female   19         NaN          100       200000  Smartphone
30  Female   21       Urban          500        50000  Smartphone
31  Female   21       Urban          450        39000         NaN
32  Female   20       Urban         1000        70000  Smartphone
33    Male   29       Urban         1500       250000          45
34  Female   20       Rural         3000        30000  Smartphone
35    Male   21       Urban        dghdh        60000      Laptop
36  Female   22       Rural         1000        70000  Smartphone
37  Female   20       Urban         2000       900000  Smartphone
38  Female   21  Semi-urban          500           45          45
39    Male   22       Urban         1300        90000      Laptop
40  Female   22          23          500        25000  Smartphone
41  Female   22  Semi-urban         2500        40000  Smartphone
42  Female   21       Urban            0          NaN  Smartphone
43    Male   23       Urban          500        50000      Tablet
44  Female   21       Urban           50            0         NaN
45    Male   20       Urban          150        80000      Laptop
46    Male   25          12          400        20000  Smartphone
47  Female   20       Urban      cvghfgh       200000  Smartphone
48  Female   20       Urban         1000        50000  Smartphone
49  Female   20       Urban            0       150000      Laptop

In [ ]:
survey_df.shape

(50, 6)

In [ ]:
survey_df.describe()

             Age
count  50.000000
mean   21.340000
std     1.697657
min    19.000000
25%    20.000000
50%    21.000000
75%    22.000000
max    29.000000

In [ ]:
survey_df.count()

Gender          50
Age             50
Area            49
InternetCost    49
FamilyIncome    47
Device          47
dtype: int64

In [ ]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gender        50 non-null     object
 1   Age           50 non-null     int64
 2   Area          49 non-null     object
 3   InternetCost  49 non-null     object
 4   FamilyIncome  47 non-null     object
 5   Device        47 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.5+ KB

##Cleaning Data!

In [ ]:
survey_df.isnull()

    Gender    Age   Area  InternetCost  FamilyIncome  Device
0    False  False  False         False         False   False
1    False  False  False         False         False   False
2    False  False  False         False         False   False
3    False  False  False         False         False   False
4    False  False  False         False         False   False
5    False  False  False         False         False   False
6    False  False  False         False         False   False
7    False  False  False         False         False   False
8    False  False  False         False          True   False
9    False  False  False         False         False   False
10   False  False  False         False         False   False
11   False  False  False         False         False   False
12   False  False  False         False         False   False
13   False  False  False         False         False   False
14   False  False  False         False         False   False
15   False  False  False          True         False   False
16   False  False  False         False         False   False
17   False  False  False         False         False   False
18   False  False  False         False         False   False
19   False  False  False         False         False   False
20   False  False  False         False         False    True
21   False  False  False         False         False   False
22   False  False  False         False         False   False
23   False  False  False         False         False   False
24   False  False  False         False         False   False
25   False  False  False         False         False   False
26   False  False  False         False         False   False
27   False  False  False         False         False   False
28   False  False  False         False          True   False
29   False  False   True         False         False   False
30   False  False  False         False         False   False
31   False  False  False         False         False    True
32   False  False  False         False         False   False
33   False  False  False         False         False   False
34   False  False  False         False         False   False
35   False  False  False         False         False   False
36   False  False  False         False         False   False
37   False  False  False         False         False   False
38   False  False  False         False         False   False
39   False  False  False         False         False   False
40   False  False  False         False         False   False
41   False  False  False         False         False   False
42   False  False  False         False          True   False
43   False  False  False         False         False   False
44   False  False  False         False         False    True
45   False  False  False         False         False   False
46   False  False  False         False         False   False
47   False  False  False         False         False   False
48   False  False  False         False         False   False
49   False  False  False         False         False   False

In [ ]:
#checking if column has nan value!
survey_df.isnull().any()

Gender          False
Age             False
Area             True
InternetCost     True
FamilyIncome     True
Device           True
dtype: bool

In [ ]:
#getting the columns that have null values and amount of null values in each column!!!
null_columns=survey_df.columns[survey_df.isnull().any()]  
survey_df[null_columns].isnull().sum()

Area            1
InternetCost    1
FamilyIncome    3
Device          3
dtype: int64

In [ ]:
#axis 0 means asking for coulums!
survey_df.isnull().any(axis=0)

Gender          False
Age             False
Area             True
InternetCost     True
FamilyIncome     True
Device           True
dtype: bool

In [ ]:
#showing only those rows having nan values!!
survey_df[survey_df.isnull().any(axis=1)][null_columns]

          Area InternetCost FamilyIncome      Device
8        Rural          500          NaN  Smartphone
15       Urban          NaN        50000  Smartphone
20  Semi-urban         1200        30000         NaN
28       Rural          800          NaN  Smartphone
29         NaN          100       200000  Smartphone
31       Urban          450        39000         NaN
42       Urban            0          NaN  Smartphone
44       Urban           50            0         NaN

In [ ]:
#filling nan value of Area column
survey_df["Area"].fillna("Rural", inplace=True)

In [ ]:
#to change to columns numeric!!
survey_df['InternetCost'] = pd.to_numeric(survey_df['InternetCost'], errors='coerce')
survey_df['FamilyIncome'] = pd.to_numeric(survey_df['FamilyIncome'], errors='coerce')
survey_df

    Gender  Age        Area  InternetCost  FamilyIncome      Device
0     Male   24       Rural         500.0       40000.0      Laptop
1   Female   20       Urban        1000.0       50000.0  Smartphone
2     Male   21  Semi-urban        1000.0       22000.0  Smartphone
3   Female   20       Urban         500.0       20000.0      Laptop
4   Female   21       Urban         500.0       50000.0  Smartphone
5   Female   19          56        1500.0       50000.0  Smartphone
6   Female   22       Urban         500.0       50000.0  Smartphone
7   Female   22       Urban         500.0       50000.0  Smartphone
8   Female   20       Rural         500.0           NaN  Smartphone
9     Male   25       Rural         600.0       20000.0  Smartphone
10  Female   22       Rural        1200.0       50000.0  Smartphone
11  Female   20       Urban        1200.0       90000.0      Laptop
12  Female   21       Urban         500.0       30000.0      Laptop
13    Male   22       Urban        1300.0       90000.0      Laptop
14    Male   22  Semi-urban         500.0       50000.0  Smartphone
15    Male   20       Urban           NaN       50000.0  Smartphone
16  Female   21       Rural         500.0       30000.0  Smartphone
17  Female   22       Urban         500.0       30000.0     Desktop
18  Female   22       Urban         500.0           NaN  Smartphone
19  Female   22       Urban         700.0     1000000.0  Smartphone
20    Male   20  Semi-urban        1200.0       30000.0         NaN
21  Female   22       Rural         600.0       60000.0  Smartphone
22  Female   21       Rural         500.0       50000.0  Smartphone
23  Female   22       Urban         500.0       25000.0  Smartphone
24  Female   21       Urban           0.0       40000.0      Laptop
25  Female   22       Rural         500.0       28000.0  Smartphone
26  Female   21       Urban        1200.0       60000.0  Smartphone
27  Female   20       Urban         800.0       50000.0  Smartphone
28  Female   20       Rural         800.0           NaN  Smartphone
29  Female   19       Rural         100.0      200000.0  Smartphone
30  Female   21       Urban         500.0       50000.0  Smartphone
31  Female   21       Urban         450.0       39000.0         NaN
32  Female   20       Urban        1000.0       70000.0  Smartphone
33    Male   29       Urban        1500.0      250000.0          45
34  Female   20       Rural        3000.0       30000.0  Smartphone
35    Male   21       Urban           NaN       60000.0      Laptop
36  Female   22       Rural        1000.0       70000.0  Smartphone
37  Female   20       Urban        2000.0      900000.0  Smartphone
38  Female   21  Semi-urban         500.0          45.0          45
39    Male   22       Urban        1300.0       90000.0      Laptop
40  Female   22          23         500.0       25000.0  Smartphone
41  Female   22  Semi-urban        2500.0       40000.0  Smartphone
42  Female   21       Urban           0.0           NaN  Smartphone
43    Male   23       Urban         500.0       50000.0      Tablet
44  Female   21       Urban          50.0           0.0         NaN
45    Male   20       Urban         150.0       80000.0      Laptop
46    Male   25          12         400.0       20000.0  Smartphone
47  Female   20       Urban           NaN      200000.0  Smartphone
48  Female   20       Urban        1000.0       50000.0  Smartphone
49  Female   20       Urban           0.0      150000.0      Laptop

In [ ]:
#filling nan value of InternetCost Column!!
survey_df["InternetCost"].median()

500.0

In [ ]:
survey_df["InternetCost"].fillna(survey_df["InternetCost"].median(), inplace=True)
survey_df

    Gender  Age        Area  InternetCost  FamilyIncome      Device
0     Male   24       Rural         500.0       40000.0      Laptop
1   Female   20       Urban        1000.0       50000.0  Smartphone
2     Male   21  Semi-urban        1000.0       22000.0  Smartphone
3   Female   20       Urban         500.0       20000.0      Laptop
4   Female   21       Urban         500.0       50000.0  Smartphone
5   Female   19          56        1500.0       50000.0  Smartphone
6   Female   22       Urban         500.0       50000.0  Smartphone
7   Female   22       Urban         500.0       50000.0  Smartphone
8   Female   20       Rural         500.0           NaN  Smartphone
9     Male   25       Rural         600.0       20000.0  Smartphone
10  Female   22       Rural        1200.0       50000.0  Smartphone
11  Female   20       Urban        1200.0       90000.0      Laptop
12  Female   21       Urban         500.0       30000.0      Laptop
13    Male   22       Urban        1300.0       90000.0      Laptop
14    Male   22  Semi-urban         500.0       50000.0  Smartphone
15    Male   20       Urban         500.0       50000.0  Smartphone
16  Female   21       Rural         500.0       30000.0  Smartphone
17  Female   22       Urban         500.0       30000.0     Desktop
18  Female   22       Urban         500.0           NaN  Smartphone
19  Female   22       Urban         700.0     1000000.0  Smartphone
20    Male   20  Semi-urban        1200.0       30000.0         NaN
21  Female   22       Rural         600.0       60000.0  Smartphone
22  Female   21       Rural         500.0       50000.0  Smartphone
23  Female   22       Urban         500.0       25000.0  Smartphone
24  Female   21       Urban           0.0       40000.0      Laptop
25  Female   22       Rural         500.0       28000.0  Smartphone
26  Female   21       Urban        1200.0       60000.0  Smartphone
27  Female   20       Urban         800.0       50000.0  Smartphone
28  Female   20       Rural         800.0           NaN  Smartphone
29  Female   19       Rural         100.0      200000.0  Smartphone
30  Female   21       Urban         500.0       50000.0  Smartphone
31  Female   21       Urban         450.0       39000.0         NaN
32  Female   20       Urban        1000.0       70000.0  Smartphone
33    Male   29       Urban        1500.0      250000.0          45
34  Female   20       Rural        3000.0       30000.0  Smartphone
35    Male   21       Urban         500.0       60000.0      Laptop
36  Female   22       Rural        1000.0       70000.0  Smartphone
37  Female   20       Urban        2000.0      900000.0  Smartphone
38  Female   21  Semi-urban         500.0          45.0          45
39    Male   22       Urban        1300.0       90000.0      Laptop
40  Female   22          23         500.0       25000.0  Smartphone
41  Female   22  Semi-urban        2500.0       40000.0  Smartphone
42  Female   21       Urban           0.0           NaN  Smartphone
43    Male   23       Urban         500.0       50000.0      Tablet
44  Female   21       Urban          50.0           0.0         NaN
45    Male   20       Urban         150.0       80000.0      Laptop
46    Male   25          12         400.0       20000.0  Smartphone
47  Female   20       Urban         500.0      200000.0  Smartphone
48  Female   20       Urban        1000.0       50000.0  Smartphone
49  Female   20       Urban           0.0      150000.0      Laptop

In [ ]:
#filling the garbage value of InternetCost column!!
survey_df.loc[35, "InternetCost"]=500
survey_df.loc[47, "InternetCost"]=500

In [ ]:
#filling the garbage value in FamilyIncome column!
survey_df.loc[18, "FamilyIncome"]=50000

In [ ]:
#now filling the nan value of FamilyIncome after clearing agrbage value! (median will not for the garbage value!
#if it has dtype in object instead it should be integer! we have to change it to numeric dtype then median will work!)
#or you can change the columns into numeric before proceeding!!
survey_df["FamilyIncome"].fillna(survey_df["FamilyIncome"].median(), inplace=True)

In [ ]:
survey_df["Device"]=survey_df["Device"].fillna(method="bfill")

In [ ]:
#chaning all unwanted integer values of column Area 
survey_df.loc[5, "Area"]="Urban"
survey_df.loc[40, "Area"]="Urban"
survey_df.loc[46, "Area"]="Urban"

In [ ]:
survey_df.loc[33, "Device"]="Laptop"
survey_df.loc[38, "Device"]="Smartphone"
survey_df

    Gender  Age        Area  InternetCost  FamilyIncome      Device
0     Male   24       Rural         500.0       40000.0      Laptop
1   Female   20       Urban        1000.0       50000.0  Smartphone
2     Male   21  Semi-urban        1000.0       22000.0  Smartphone
3   Female   20       Urban         500.0       20000.0      Laptop
4   Female   21       Urban         500.0       50000.0  Smartphone
5   Female   19       Urban        1500.0       50000.0  Smartphone
6   Female   22       Urban         500.0       50000.0  Smartphone
7   Female   22       Urban         500.0       50000.0  Smartphone
8   Female   20       Rural         500.0       50000.0  Smartphone
9     Male   25       Rural         600.0       20000.0  Smartphone
10  Female   22       Rural        1200.0       50000.0  Smartphone
11  Female   20       Urban        1200.0       90000.0      Laptop
12  Female   21       Urban         500.0       30000.0      Laptop
13    Male   22       Urban        1300.0       90000.0      Laptop
14    Male   22  Semi-urban         500.0       50000.0  Smartphone
15    Male   20       Urban         500.0       50000.0  Smartphone
16  Female   21       Rural         500.0       30000.0  Smartphone
17  Female   22       Urban         500.0       30000.0     Desktop
18  Female   22       Urban         500.0       50000.0  Smartphone
19  Female   22       Urban         700.0     1000000.0  Smartphone
20    Male   20  Semi-urban        1200.0       30000.0  Smartphone
21  Female   22       Rural         600.0       60000.0  Smartphone
22  Female   21       Rural         500.0       50000.0  Smartphone
23  Female   22       Urban         500.0       25000.0  Smartphone
24  Female   21       Urban           0.0       40000.0      Laptop
25  Female   22       Rural         500.0       28000.0  Smartphone
26  Female   21       Urban        1200.0       60000.0  Smartphone
27  Female   20       Urban         800.0       50000.0  Smartphone
28  Female   20       Rural         800.0       50000.0  Smartphone
29  Female   19       Rural         100.0      200000.0  Smartphone
30  Female   21       Urban         500.0       50000.0  Smartphone
31  Female   21       Urban         450.0       39000.0  Smartphone
32  Female   20       Urban        1000.0       70000.0  Smartphone
33    Male   29       Urban        1500.0      250000.0      Laptop
34  Female   20       Rural        3000.0       30000.0  Smartphone
35    Male   21       Urban         500.0       60000.0      Laptop
36  Female   22       Rural        1000.0       70000.0  Smartphone
37  Female   20       Urban        2000.0      900000.0  Smartphone
38  Female   21  Semi-urban         500.0          45.0  Smartphone
39    Male   22       Urban        1300.0       90000.0      Laptop
40  Female   22       Urban         500.0       25000.0  Smartphone
41  Female   22  Semi-urban        2500.0       40000.0  Smartphone
42  Female   21       Urban           0.0       50000.0  Smartphone
43    Male   23       Urban         500.0       50000.0      Tablet
44  Female   21       Urban          50.0           0.0      Laptop
45    Male   20       Urban         150.0       80000.0      Laptop
46    Male   25       Urban         400.0       20000.0  Smartphone
47  Female   20       Urban         500.0      200000.0  Smartphone
48  Female   20       Urban        1000.0       50000.0  Smartphone
49  Female   20       Urban           0.0      150000.0      Laptop

In [ ]:
survey_df.dtypes  #checking!!

Gender           object
Age               int64
Area             object
InternetCost    float64
FamilyIncome    float64
Device           object
dtype: object

In [ ]:
#converting float to integer!!
survey_df.FamilyIncome=survey_df.FamilyIncome.astype("int64")
survey_df.InternetCost=survey_df.InternetCost.astype("int64")

In [ ]:
survey_df.dtypes

Gender          object
Age              int64
Area            object
InternetCost     int64
FamilyIncome     int64
Device          object
dtype: object

In [ ]:
cleaned_df=survey_df
cleaned_df

    Gender  Age        Area  InternetCost  FamilyIncome      Device
0     Male   24       Rural           500         40000      Laptop
1   Female   20       Urban          1000         50000  Smartphone
2     Male   21  Semi-urban          1000         22000  Smartphone
3   Female   20       Urban           500         20000      Laptop
4   Female   21       Urban           500         50000  Smartphone
5   Female   19       Urban          1500         50000  Smartphone
6   Female   22       Urban           500         50000  Smartphone
7   Female   22       Urban           500         50000  Smartphone
8   Female   20       Rural           500         50000  Smartphone
9     Male   25       Rural           600         20000  Smartphone
10  Female   22       Rural          1200         50000  Smartphone
11  Female   20       Urban          1200         90000      Laptop
12  Female   21       Urban           500         30000      Laptop
13    Male   22       Urban          1300         90000      Laptop
14    Male   22  Semi-urban           500         50000  Smartphone
15    Male   20       Urban           500         50000  Smartphone
16  Female   21       Rural           500         30000  Smartphone
17  Female   22       Urban           500         30000     Desktop
18  Female   22       Urban           500         50000  Smartphone
19  Female   22       Urban           700       1000000  Smartphone
20    Male   20  Semi-urban          1200         30000  Smartphone
21  Female   22       Rural           600         60000  Smartphone
22  Female   21       Rural           500         50000  Smartphone
23  Female   22       Urban           500         25000  Smartphone
24  Female   21       Urban             0         40000      Laptop
25  Female   22       Rural           500         28000  Smartphone
26  Female   21       Urban          1200         60000  Smartphone
27  Female   20       Urban           800         50000  Smartphone
28  Female   20       Rural           800         50000  Smartphone
29  Female   19       Rural           100        200000  Smartphone
30  Female   21       Urban           500         50000  Smartphone
31  Female   21       Urban           450         39000  Smartphone
32  Female   20       Urban          1000         70000  Smartphone
33    Male   29       Urban          1500        250000      Laptop
34  Female   20       Rural          3000         30000  Smartphone
35    Male   21       Urban           500         60000      Laptop
36  Female   22       Rural          1000         70000  Smartphone
37  Female   20       Urban          2000        900000  Smartphone
38  Female   21  Semi-urban           500            45  Smartphone
39    Male   22       Urban          1300         90000      Laptop
40  Female   22       Urban           500         25000  Smartphone
41  Female   22  Semi-urban          2500         40000  Smartphone
42  Female   21       Urban             0         50000  Smartphone
43    Male   23       Urban           500         50000      Tablet
44  Female   21       Urban            50             0      Laptop
45    Male   20       Urban           150         80000      Laptop
46    Male   25       Urban           400         20000  Smartphone
47  Female   20       Urban           500        200000  Smartphone
48  Female   20       Urban          1000         50000  Smartphone
49  Female   20       Urban             0        150000      Laptop

## Data Transformation!

In [ ]:
#using label encoding to process categorical values to other different numeric values!
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
cleaned_df['Gender']= le.fit_transform(cleaned_df['Gender'])

In [ ]:
cleaned_df

    Gender  Age        Area  InternetCost  FamilyIncome      Device
0        1   24       Rural           500         40000      Laptop
1        0   20       Urban          1000         50000  Smartphone
2        1   21  Semi-urban          1000         22000  Smartphone
3        0   20       Urban           500         20000      Laptop
4        0   21       Urban           500         50000  Smartphone
5        0   19       Urban          1500         50000  Smartphone
6        0   22       Urban           500         50000  Smartphone
7        0   22       Urban           500         50000  Smartphone
8        0   20       Rural           500         50000  Smartphone
9        1   25       Rural           600         20000  Smartphone
10       0   22       Rural          1200         50000  Smartphone
11       0   20       Urban          1200         90000      Laptop
12       0   21       Urban           500         30000      Laptop
13       1   22       Urban          1300         90000      Laptop
14       1   22  Semi-urban           500         50000  Smartphone
15       1   20       Urban           500         50000  Smartphone
16       0   21       Rural           500         30000  Smartphone
17       0   22       Urban           500         30000     Desktop
18       0   22       Urban           500         50000  Smartphone
19       0   22       Urban           700       1000000  Smartphone
20       1   20  Semi-urban          1200         30000  Smartphone
21       0   22       Rural           600         60000  Smartphone
22       0   21       Rural           500         50000  Smartphone
23       0   22       Urban           500         25000  Smartphone
24       0   21       Urban             0         40000      Laptop
25       0   22       Rural           500         28000  Smartphone
26       0   21       Urban          1200         60000  Smartphone
27       0   20       Urban           800         50000  Smartphone
28       0   20       Rural           800         50000  Smartphone
29       0   19       Rural           100        200000  Smartphone
30       0   21       Urban           500         50000  Smartphone
31       0   21       Urban           450         39000  Smartphone
32       0   20       Urban          1000         70000  Smartphone
33       1   29       Urban          1500        250000      Laptop
34       0   20       Rural          3000         30000  Smartphone
35       1   21       Urban           500         60000      Laptop
36       0   22       Rural          1000         70000  Smartphone
37       0   20       Urban          2000        900000  Smartphone
38       0   21  Semi-urban           500            45  Smartphone
39       1   22       Urban          1300         90000      Laptop
40       0   22       Urban           500         25000  Smartphone
41       0   22  Semi-urban          2500         40000  Smartphone
42       0   21       Urban             0         50000  Smartphone
43       1   23       Urban           500         50000      Tablet
44       0   21       Urban            50             0      Laptop
45       1   20       Urban           150         80000      Laptop
46       1   25       Urban           400         20000  Smartphone
47       0   20       Urban           500        200000  Smartphone
48       0   20       Urban          1000         50000  Smartphone
49       0   20       Urban             0        150000      Laptop

In [ ]:
#using mapping function in Area column!!
mapping = {'Rural' :1, 'Urban' : 2, "Semi-urban" : 3}
cleaned_df['Area'] = cleaned_df['Area'].map(mapping)

In [ ]:
cleaned_df

    Gender  Age  Area  InternetCost  FamilyIncome      Device
0        1   24     1           500         40000      Laptop
1        0   20     2          1000         50000  Smartphone
2        1   21     3          1000         22000  Smartphone
3        0   20     2           500         20000      Laptop
4        0   21     2           500         50000  Smartphone
5        0   19     2          1500         50000  Smartphone
6        0   22     2           500         50000  Smartphone
7        0   22     2           500         50000  Smartphone
8        0   20     1           500         50000  Smartphone
9        1   25     1           600         20000  Smartphone
10       0   22     1          1200         50000  Smartphone
11       0   20     2          1200         90000      Laptop
12       0   21     2           500         30000      Laptop
13       1   22     2          1300         90000      Laptop
14       1   22     3           500         50000  Smartphone
15       1   20     2           500         50000  Smartphone
16       0   21     1           500         30000  Smartphone
17       0   22     2           500         30000     Desktop
18       0   22     2           500         50000  Smartphone
19       0   22     2           700       1000000  Smartphone
20       1   20     3          1200         30000  Smartphone
21       0   22     1           600         60000  Smartphone
22       0   21     1           500         50000  Smartphone
23       0   22     2           500         25000  Smartphone
24       0   21     2             0         40000      Laptop
25       0   22     1           500         28000  Smartphone
26       0   21     2          1200         60000  Smartphone
27       0   20     2           800         50000  Smartphone
28       0   20     1           800         50000  Smartphone
29       0   19     1           100        200000  Smartphone
30       0   21     2           500         50000  Smartphone
31       0   21     2           450         39000  Smartphone
32       0   20     2          1000         70000  Smartphone
33       1   29     2          1500        250000      Laptop
34       0   20     1          3000         30000  Smartphone
35       1   21     2           500         60000      Laptop
36       0   22     1          1000         70000  Smartphone
37       0   20     2          2000        900000  Smartphone
38       0   21     3           500            45  Smartphone
39       1   22     2          1300         90000      Laptop
40       0   22     2           500         25000  Smartphone
41       0   22     3          2500         40000  Smartphone
42       0   21     2             0         50000  Smartphone
43       1   23     2           500         50000      Tablet
44       0   21     2            50             0      Laptop
45       1   20     2           150         80000      Laptop
46       1   25     2           400         20000  Smartphone
47       0   20     2           500        200000  Smartphone
48       0   20     2          1000         50000  Smartphone
49       0   20     2             0        150000      Laptop

In [ ]:
#One Hot Encoding for nominal data for Device column!!
one_hot_encoding_device = pd.get_dummies(cleaned_df, columns=['Device'])
one_hot_encoding_device

    Gender  Age  Area  ...  Device_Laptop  Device_Smartphone  Device_Tablet
0        1   24     1  ...              1                  0              0
1        0   20     2  ...              0                  1              0
2        1   21     3  ...              0                  1              0
3        0   20     2  ...              1                  0              0
4        0   21     2  ...              0                  1              0
5        0   19     2  ...              0                  1              0
6        0   22     2  ...              0                  1              0
7        0   22     2  ...              0                  1              0
8        0   20     1  ...              0                  1              0
9        1   25     1  ...              0                  1              0
10       0   22     1  ...              0                  1              0
11       0   20     2  ...              1                  0              0
12       0   21     2  ...              1                  0              0
13       1   22     2  ...              1                  0              0
14       1   22     3  ...              0                  1              0
15       1   20     2  ...              0                  1              0
16       0   21     1  ...              0                  1              0
17       0   22     2  ...              0                  0              0
18       0   22     2  ...              0                  1              0
19       0   22     2  ...              0                  1              0
20       1   20     3  ...              0                  1              0
21       0   22     1  ...              0                  1              0
22       0   21     1  ...              0                  1              0
23       0   22     2  ...              0                  1              0
24       0   21     2  ...              1                  0              0
25       0   22     1  ...              0                  1              0
26       0   21     2  ...              0                  1              0
27       0   20     2  ...              0                  1              0
28       0   20     1  ...              0                  1              0
29       0   19     1  ...              0                  1              0
30       0   21     2  ...              0                  1              0
31       0   21     2  ...              0                  1              0
32       0   20     2  ...              0                  1              0
33       1   29     2  ...              1                  0              0
34       0   20     1  ...              0                  1              0
35       1   21     2  ...              1                  0              0
36       0   22     1  ...              0                  1              0
37       0   20     2  ...              0                  1              0
38       0   21     3  ...              0                  1              0
39       1   22     2  ...              1                  0              0
40       0   22     2  ...              0                  1              0
41       0   22     3  ...              0                  1              0
42       0   21     2  ...              0                  1              0
43       1   23     2  ...              0                  0              1
44       0   21     2  ...              1                  0              0
45       1   20     2  ...              1                  0              0
46       1   25     2  ...              0                  1              0
47       0   20     2  ...              0                  1              0
48       0   20     2  ...              0                  1              0
49       0   20     2  ...              1                  0              0

[50 rows x 9 columns]

##Normalizing the data!!

In [ ]:
#doing standard Scaling!
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
 
standard_scaled_df = pd.DataFrame(std.fit_transform(one_hot_encoding_device), columns=one_hot_encoding_device.columns)
standard_scaled_df

      Gender       Age  ...  Device_Smartphone  Device_Tablet
0   1.687055  1.582773  ...          -1.603567      -0.142857
1  -0.592749 -0.797337  ...           0.623610      -0.142857
2   1.687055 -0.202309  ...           0.623610      -0.142857
3  -0.592749 -0.797337  ...          -1.603567      -0.142857
4  -0.592749 -0.202309  ...           0.623610      -0.142857
5  -0.592749 -1.392364  ...           0.623610      -0.142857
6  -0.592749  0.392718  ...           0.623610      -0.142857
7  -0.592749  0.392718  ...           0.623610      -0.142857
8  -0.592749 -0.797337  ...           0.623610      -0.142857
9   1.687055  2.177800  ...           0.623610      -0.142857
10 -0.592749  0.392718  ...           0.623610      -0.142857
11 -0.592749 -0.797337  ...          -1.603567      -0.142857
12 -0.592749 -0.202309  ...          -1.603567      -0.142857
13  1.687055  0.392718  ...          -1.603567      -0.142857
14  1.687055  0.392718  ...           0.623610      -0.142857
15  1.687055 -0.797337  ...           0.623610      -0.142857
16 -0.592749 -0.202309  ...           0.623610      -0.142857
17 -0.592749  0.392718  ...          -1.603567      -0.142857
18 -0.592749  0.392718  ...           0.623610      -0.142857
19 -0.592749  0.392718  ...           0.623610      -0.142857
20  1.687055 -0.797337  ...           0.623610      -0.142857
21 -0.592749  0.392718  ...           0.623610      -0.142857
22 -0.592749 -0.202309  ...           0.623610      -0.142857
23 -0.592749  0.392718  ...           0.623610      -0.142857
24 -0.592749 -0.202309  ...          -1.603567      -0.142857
25 -0.592749  0.392718  ...           0.623610      -0.142857
26 -0.592749 -0.202309  ...           0.623610      -0.142857
27 -0.592749 -0.797337  ...           0.623610      -0.142857
28 -0.592749 -0.797337  ...           0.623610      -0.142857
29 -0.592749 -1.392364  ...           0.623610      -0.142857
30 -0.592749 -0.202309  ...           0.623610      -0.142857
31 -0.592749 -0.202309  ...           0.623610      -0.142857
32 -0.592749 -0.797337  ...           0.623610      -0.142857
33  1.687055  4.557909  ...          -1.603567      -0.142857
34 -0.592749 -0.797337  ...           0.623610      -0.142857
35  1.687055 -0.202309  ...          -1.603567      -0.142857
36 -0.592749  0.392718  ...           0.623610      -0.142857
37 -0.592749 -0.797337  ...           0.623610      -0.142857
38 -0.592749 -0.202309  ...           0.623610      -0.142857
39  1.687055  0.392718  ...          -1.603567      -0.142857
40 -0.592749  0.392718  ...           0.623610      -0.142857
41 -0.592749  0.392718  ...           0.623610      -0.142857
42 -0.592749 -0.202309  ...           0.623610      -0.142857
43  1.687055  0.987745  ...          -1.603567       7.000000
44 -0.592749 -0.202309  ...          -1.603567      -0.142857
45  1.687055 -0.797337  ...          -1.603567      -0.142857
46  1.687055  2.177800  ...           0.623610      -0.142857
47 -0.592749 -0.797337  ...           0.623610      -0.142857
48 -0.592749 -0.797337  ...           0.623610      -0.142857
49 -0.592749 -0.797337  ...          -1.603567      -0.142857

[50 rows x 9 columns]

In [ ]:
#min-max normalizer!!
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(one_hot_encoding_device)
min_max_scaled = pd.DataFrame(scaler.transform(one_hot_encoding_device),columns=one_hot_encoding_device.columns)
min_max_scaled

    Gender  Age  Area  ...  Device_Laptop  Device_Smartphone  Device_Tablet
0      1.0  0.5   0.0  ...            1.0                0.0            0.0
1      0.0  0.1   0.5  ...            0.0                1.0            0.0
2      1.0  0.2   1.0  ...            0.0                1.0            0.0
3      0.0  0.1   0.5  ...            1.0                0.0            0.0
4      0.0  0.2   0.5  ...            0.0                1.0            0.0
5      0.0  0.0   0.5  ...            0.0                1.0            0.0
6      0.0  0.3   0.5  ...            0.0                1.0            0.0
7      0.0  0.3   0.5  ...            0.0                1.0            0.0
8      0.0  0.1   0.0  ...            0.0                1.0            0.0
9      1.0  0.6   0.0  ...            0.0                1.0            0.0
10     0.0  0.3   0.0  ...            0.0                1.0            0.0
11     0.0  0.1   0.5  ...            1.0                0.0            0.0
12     0.0  0.2   0.5  ...            1.0                0.0            0.0
13     1.0  0.3   0.5  ...            1.0                0.0            0.0
14     1.0  0.3   1.0  ...            0.0                1.0            0.0
15     1.0  0.1   0.5  ...            0.0                1.0            0.0
16     0.0  0.2   0.0  ...            0.0                1.0            0.0
17     0.0  0.3   0.5  ...            0.0                0.0            0.0
18     0.0  0.3   0.5  ...            0.0                1.0            0.0
19     0.0  0.3   0.5  ...            0.0                1.0            0.0
20     1.0  0.1   1.0  ...            0.0                1.0            0.0
21     0.0  0.3   0.0  ...            0.0                1.0            0.0
22     0.0  0.2   0.0  ...            0.0                1.0            0.0
23     0.0  0.3   0.5  ...            0.0                1.0            0.0
24     0.0  0.2   0.5  ...            1.0                0.0            0.0
25     0.0  0.3   0.0  ...            0.0                1.0            0.0
26     0.0  0.2   0.5  ...            0.0                1.0            0.0
27     0.0  0.1   0.5  ...            0.0                1.0            0.0
28     0.0  0.1   0.0  ...            0.0                1.0            0.0
29     0.0  0.0   0.0  ...            0.0                1.0            0.0
30     0.0  0.2   0.5  ...            0.0                1.0            0.0
31     0.0  0.2   0.5  ...            0.0                1.0            0.0
32     0.0  0.1   0.5  ...            0.0                1.0            0.0
33     1.0  1.0   0.5  ...            1.0                0.0            0.0
34     0.0  0.1   0.0  ...            0.0                1.0            0.0
35     1.0  0.2   0.5  ...            1.0                0.0            0.0
36     0.0  0.3   0.0  ...            0.0                1.0            0.0
37     0.0  0.1   0.5  ...            0.0                1.0            0.0
38     0.0  0.2   1.0  ...            0.0                1.0            0.0
39     1.0  0.3   0.5  ...            1.0                0.0            0.0
40     0.0  0.3   0.5  ...            0.0                1.0            0.0
41     0.0  0.3   1.0  ...            0.0                1.0            0.0
42     0.0  0.2   0.5  ...            0.0                1.0            0.0
43     1.0  0.4   0.5  ...            0.0                0.0            1.0
44     0.0  0.2   0.5  ...            1.0                0.0            0.0
45     1.0  0.1   0.5  ...            1.0                0.0            0.0
46     1.0  0.6   0.5  ...            0.0                1.0            0.0
47     0.0  0.1   0.5  ...            0.0                1.0            0.0
48     0.0  0.1   0.5  ...            0.0                1.0            0.0
49     0.0  0.1   0.5  ...            1.0                0.0            0.0

[50 rows x 9 columns]

In [ ]:
#Robust scaling!!! using quartile range!!
from sklearn.preprocessing import RobustScaler
robust = RobustScaler()
robust_scaled_df = robust.fit_transform(one_hot_encoding_device)
robust_scaled_df = pd.DataFrame(robust_scaled_df, columns=one_hot_encoding_device.columns)
robust_scaled_df

      Gender  Age  Area  ...  Device_Laptop  Device_Smartphone  Device_Tablet
0   1.333333  1.5  -1.0  ...            1.0               -1.0            0.0
1   0.000000 -0.5   0.0  ...            0.0                0.0            0.0
2   1.333333  0.0   1.0  ...            0.0                0.0            0.0
3   0.000000 -0.5   0.0  ...            1.0               -1.0            0.0
4   0.000000  0.0   0.0  ...            0.0                0.0            0.0
5   0.000000 -1.0   0.0  ...            0.0                0.0            0.0
6   0.000000  0.5   0.0  ...            0.0                0.0            0.0
7   0.000000  0.5   0.0  ...            0.0                0.0            0.0
8   0.000000 -0.5  -1.0  ...            0.0                0.0            0.0
9   1.333333  2.0  -1.0  ...            0.0                0.0            0.0
10  0.000000  0.5  -1.0  ...            0.0                0.0            0.0
11  0.000000 -0.5   0.0  ...            1.0               -1.0            0.0
12  0.000000  0.0   0.0  ...            1.0               -1.0            0.0
13  1.333333  0.5   0.0  ...            1.0               -1.0            0.0
14  1.333333  0.5   1.0  ...            0.0                0.0            0.0
15  1.333333 -0.5   0.0  ...            0.0                0.0            0.0
16  0.000000  0.0  -1.0  ...            0.0                0.0            0.0
17  0.000000  0.5   0.0  ...            0.0               -1.0            0.0
18  0.000000  0.5   0.0  ...            0.0                0.0            0.0
19  0.000000  0.5   0.0  ...            0.0                0.0            0.0
20  1.333333 -0.5   1.0  ...            0.0                0.0            0.0
21  0.000000  0.5  -1.0  ...            0.0                0.0            0.0
22  0.000000  0.0  -1.0  ...            0.0                0.0            0.0
23  0.000000  0.5   0.0  ...            0.0                0.0            0.0
24  0.000000  0.0   0.0  ...            1.0               -1.0            0.0
25  0.000000  0.5  -1.0  ...            0.0                0.0            0.0
26  0.000000  0.0   0.0  ...            0.0                0.0            0.0
27  0.000000 -0.5   0.0  ...            0.0                0.0            0.0
28  0.000000 -0.5  -1.0  ...            0.0                0.0            0.0
29  0.000000 -1.0  -1.0  ...            0.0                0.0            0.0
30  0.000000  0.0   0.0  ...            0.0                0.0            0.0
31  0.000000  0.0   0.0  ...            0.0                0.0            0.0
32  0.000000 -0.5   0.0  ...            0.0                0.0            0.0
33  1.333333  4.0   0.0  ...            1.0               -1.0            0.0
34  0.000000 -0.5  -1.0  ...            0.0                0.0            0.0
35  1.333333  0.0   0.0  ...            1.0               -1.0            0.0
36  0.000000  0.5  -1.0  ...            0.0                0.0            0.0
37  0.000000 -0.5   0.0  ...            0.0                0.0            0.0
38  0.000000  0.0   1.0  ...            0.0                0.0            0.0
39  1.333333  0.5   0.0  ...            1.0               -1.0            0.0
40  0.000000  0.5   0.0  ...            0.0                0.0            0.0
41  0.000000  0.5   1.0  ...            0.0                0.0            0.0
42  0.000000  0.0   0.0  ...            0.0                0.0            0.0
43  1.333333  1.0   0.0  ...            0.0               -1.0            1.0
44  0.000000  0.0   0.0  ...            1.0               -1.0            0.0
45  1.333333 -0.5   0.0  ...            1.0               -1.0            0.0
46  1.333333  2.0   0.0  ...            0.0                0.0            0.0
47  0.000000 -0.5   0.0  ...            0.0                0.0            0.0
48  0.000000 -0.5   0.0  ...            0.0                0.0            0.0
49  0.000000 -0.5   0.0  ...            1.0               -1.0            0.0

[50 rows x 9 columns]

In [ ]:
#practicing transpose!!
transposed_df=one_hot_encoding_device.transpose()
transposed_df

                      0      1      2      3   ...     46      47     48      49
Gender                 1      0      1      0  ...      1       0      0       0
Age                   24     20     21     20  ...     25      20     20      20
Area                   1      2      3      2  ...      2       2      2       2
InternetCost         500   1000   1000    500  ...    400     500   1000       0
FamilyIncome       40000  50000  22000  20000  ...  20000  200000  50000  150000
Device_Desktop         0      0      0      0  ...      0       0      0       0
Device_Laptop          1      0      0      1  ...      0       0      0       1
Device_Smartphone      0      1      1      0  ...      1       1      1       0
Device_Tablet          0      0      0      0  ...      0       0      0       0

[9 rows x 50 columns]